<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687444738548-vk0qkuffedspigomur046pj09c90me95.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687444738548-vk0qkuffedspigomur046pj09c90me95</string>
	<key>API_KEY</key>
	<string>AIzaSyBZAYPibzzo49ZTanzH0RfO4bL_3WzNocM</string>
	<key>GCM_SENDER_ID</key>
	<string>687444738548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.oralMate</string>
	<key>PROJECT_ID</key>
	<string>oralmate-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>oralmate-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687444738548:ios:f0a8d0ed39e8190e2279a1</string>
</dict>
</plist>